# Validate Dataset

The paper references the Amazon Review 2014 dataset with some statistics. This is to verify the information is the same and ensure we use the same dataset to replicate.

In [1]:
import pandas as pd
from tiger.data.amazon import AmazonDataset

In [2]:
MIN_REVIEWS_PER_USER = 5
SEQUENCE_LENGTH = 20

In [3]:
beauty_ds = AmazonDataset("Beauty", 2014, MIN_REVIEWS_PER_USER, SEQUENCE_LENGTH, "../data")

In [4]:
sports_ds = AmazonDataset("Sports_and_Outdoors", 2014, MIN_REVIEWS_PER_USER, SEQUENCE_LENGTH, "../data")

In [5]:
toys_ds = AmazonDataset("Toys_and_Games", 2014, MIN_REVIEWS_PER_USER, SEQUENCE_LENGTH, "../data")

In [6]:
pd.DataFrame.from_records([beauty_ds.calculate_stats(), sports_ds.calculate_stats(), toys_ds.calculate_stats()])

,dataset,num_users,num_items,num_reviews,avg_reviews_per_user,median_reviews_per_user,mean_reviews_per_item,sparsity
0,Beauty,52374,121291,469771,8.969546,7.0,3.873090,0.999926
1,Sports_and_Outdoors,84368,194715,717464,8.503983,6.0,3.684688,0.999956
2,Toys_and_Games,58315,165371,525535,9.012004,6.0,3.177915,0.999946